# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

# Ignore thumbnails and icon cache files created by Windows
Thumbs.db
ehthumbs.db

# Ignore some files on Windows
.DS_Store*
Icon?

# Ignore Visual Studio 2013 temp files
*.tlog

# Ignore folders create by Visual Studio 2015
/.vs
/ipch

# Ignore intellisense files by Visual Studio 2015 Update 3
*.VC.db
*.VC.opendb

# Ignore Visual Studio Update Files
UpgradeLog.XML
UpgradeLog.htm
/[Bb]ackup/

# Ignore Visual Studio C# files
*.cache

# Ignore CMake cache or temp files(folders)
/CMakeFiles
/Makefile
*CMakeCache.txt
# /cmake/
# *.cmake

*_qmlcache.qrc

[Bb]in
[Dd]ebug
[Rr]elease

*.obj
*.lib
*.Debug
*.Release
*.~vsdx
*.pdb
